name: .NET Core Desktop

on:
  - workflow_dispatch
  - release

jobs:

  build:
    strategy:
      matrix:
        configuration: [ Release ]
        # TODO: Introduce windows-latest and macos-latest once working 
        os: [ ubuntu-latest ]

    runs-on: ${{ matrix.os }}
    # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    env:
      Solution_Name: Mixi                         # Replace with your solution name, i.e. MyWpfApp.sln.
      Wap_Project_Directory: your-wap-project-directory-name    # Replace with the Wap project directory relative to the solution, i.e. MyWpfApp.Package.
      Wap_Project_Path: your-wap-project-path                   # Replace with the path to your Wap project, i.e. MyWpf.App.Package\MyWpfApp.Package.wapproj.


        steps:
          - uses: actions/checkout@v4
          - name: Setup .NET
            uses: actions/setup-dotnet@v4
            with:
              dotnet-version: '8.0.x' # Or your desired .NET version

          - name: Restore dependencies
            run: dotnet restore

          - name: Build
            run: dotnet build --no-restore

          - name: Upload build artifacts
            uses: actions/upload-artifact@v4
            with:
              name: Application
              path: Mixi/bin/Release/net9.0
